


<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkımızda</span>
                        <h2> <br />RoomFinity Hotel</h2>
                    </div>
                    <p class="f-para">
                        RoomFinity Hotel olarak, misafirlerimize eşsiz bir konaklama deneyimi sunuyoruz. Lüks ve konforun mükemmel uyumunu bulacağınız otelimizde, her detay sizin rahatınız için özenle tasarlandı. 
                    </p>
                    <p class="s-para">
                        Misafirperverliğimizle kendinizi evinizde gibi hissedecek, unutulmaz anlar yaşayacaksınız. Sonsuz konfor ve benzersiz hizmet anlayışımızla sizi ağırlamaktan mutluluk duyarız!
                    </p>
                    <a href="#" class="primary-btn about-btn">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/sona-master/img/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="~/sona-master/img/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
