@model List<HotelsRapidApiProject.Models.SearchDestIDViewModel>


@{
    Layout = "~/Views/Shared/_UILayout.cshtml";

}
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona İle Uygun Otel Bul</h1>
                    <p>
                        İşte uluslararası öneriler de dahil olmak üzere en iyi otel rezervasyon siteleri
                        seyahat etmek ve düşük fiyatlı otel odaları bulmak için.
                    </p>
                    <a href="#" class="primary-btn">Şimdi Keşfet</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Uygun Otelini Bul</h3>
                    <form method="post" class="reservation-form">
                        <div class="form-group">
                            <label for="city">Şehir:</label>
                            <input type="text" class="form-control" name="city" id="city" placeholder="Örn:Paris, Amsterdam, New York" required>
                        </div>
                        <div class="form-group">
                            <label for="date-in">Giriş Tarihi:</label>
                            <input type="date" class="form-control" name="dateIn" id="date-in" required placeholder="Giriş yapacağınız tarihi seçin">
                        </div>
                        <div class="form-group">
                            <label for="date-out">Çıkış Tarihi:</label>
                            <input type="date" class="form-control" name="dateOut" id="date-out" required placeholder="Çıkış yapacağınız tarihi seçin">
                        </div>
                        <div class="form-group">
                            <label for="guest">Yetişkin Sayısı:</label>
                            <input type="number" class="form-control" name="guest" id="guest" min="1" required placeholder="Örn: 2">
                        </div>
                        <div class="form-group">
                            <label for="children">Çocuk Sayısı:</label>
                            <input type="number" class="form-control" name="children" id="children" min="0" required placeholder="Örn: 1">
                        </div>
                        <button type="submit" class="btn btn-primary">En İyİ Otelleri Ara</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-1.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-2.jpg"></div>
        <div class="hs-item set-bg" data-setbg="/sona-master/img/hero/hero-3.jpg"></div>
    </div>
</section>


@* 

<div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
    <div class="booking-form">
        <h3>Otelleri Keşfet</h3>
        <form method="post" class="reservation-form">
            <div class="form-group">
                <label for="city">Şehir:</label>
                <input type="text" class="form-control" name="city" id="city" placeholder="Örn:Paris, Amsterdam, New York" required>
            </div>
            <div class="form-group">
                <label for="date-in">Giriş Tarihi:</label>
                <input type="date" class="form-control" name="dateIn" id="date-in" required placeholder="Giriş yapacağınız tarihi seçin">
            </div>
            <div class="form-group">
                <label for="date-out">Çıkış Tarihi:</label>
                <input type="date" class="form-control" name="dateOut" id="date-out" required placeholder="Çıkış yapacağınız tarihi seçin">
            </div>
            <div class="form-group">
                <label for="guest">Yetişkin Sayısı:</label>
                <input type="number" class="form-control" name="guest" id="guest" min="1" required placeholder="Örn: 2">
            </div>
            <div class="form-group">
                <label for="children">Çocuk Sayısı:</label>
                <input type="number" class="form-control" name="children" id="children" min="0" required placeholder="Örn: 1">
            </div>
            <button type="submit" class="btn btn-primary">En İyİ Otelleri Ara</button>
        </form>
    </div>
</div> *@